{% extends "layout.html" %}

{% block body %}

<div class="grid-container">
        <div class="navigation-bar grid-item-row-1">
            <div class="navigation-bar-left">
                <div>
                    <a href="/" >Home</a>
                </div>
                <div>
                    <a href="/about-us" class="active">About Us</a>
                </div>
                <div>
                    <a href="/citizen/create-registration.html" >Register Here</a>
                </div>
            </div>
            <div class="navigation-bar-right">
                <div>
                    <input type="search">
                    <button>Search</button>
                </div>


            </div>
        </div>
        <div class="content-with-background-image grid-item-row-2">
            <div class="animated-content">
                <p>This is the {{title}} page</p>
            </div>
        </div>
        <div class="content-with-background-color grid-item-col-1-row-3">
            <p>The National Identification Number (NIN) consists of 11 non- intelligible numbers randomly chosen and assigned to an 
                individual at the completion of enrolment into the National Identity Database (NIDB).</p>
        </div>
        <div class="content-with-background-color grid-item-col-2-row-3">
            <p>Once a NIN is assigned to an individual, it can never be reassigned, 
                given or used by another person – that makes it unique in nature.</p>
        </div>
        <div class="content-with-background-color grid-item-col-3-row-3">
            <p>The NIN is used to tie all records about an individual in the database and is also used to establish or verify his/her identity.</p>
            <p>In the case of the demise of an individual, his/her NIN is retired once a death certificate is 
                presented to the Commission and the individual’s death is established</p>
        </div>
        <div class="content-with-background-image2 grid-item-row-4">
            <p>The NIN should be closely guarded by individuals and not revealed to all and sundry except to relevant authorities when requested 
                (for instance it shouldn’t be disclosed online over social media and should not be printed along with contact details on 
                business cards or other office stationery).</p>
        </div>
    </div>


{% endblock%}