
{% extends "layout.html" %}

{% block body %}

<div class="grid-container">
        <div class="navigation-bar grid-item-row-1">
            <div class="navigation-bar-left">
                <div>
                    <a href="/" >Home</a>
                </div>
                <div>
                    <a href="/about-us" >About Us</a>
                </div>
                <div>
                    <a href="/registration" class="active">Register Here</a>
                </div>
            </div>
            <div class="navigation-bar-right">
                <div>
                    <input type="search">
                    <button>Search</button>
                </div>
            </div>
        </div>

{% endblock%}